$lightgreen: rgb(126,161,107);
$lightgreenT: rgba(126,161,107,.7);
$darkblue: rgb(32,50,67);
$darkblueT: rgba(32,50,67,.7);
$granitegrey: rgb(94,109,98);
$granitegreyT: rgba(94,109,98, .4);
$mediumspringbud: rgb(201,212,154);
$mediumspringbudT: rgba(201,212,154,.7);
$cardinal: rgb(180,62,64);
