@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.navbar {
    background: black;
    border: none;
    border-radius: 0;
    margin-bottom: 0;

    #navbar-img {
        height: 50px;
        margin-right: 20px;
        margin-left: 20px;
        cursor: pointer;
    }

    .navbar-nav {
        li {
            cursor: pointer;

            a {
                color: $lightgreen;
                font-size: 1.5em;

                &:focus {
                    color: white;
                }

                &:hover {
                    color: white;
                    font-size: 1.7em;
                }
            }

            .activeAnchor {
                color: white;
            }

            &:hover {
                border-right: 1px solid $lightgreen;
                border-left: 1px solid $lightgreen;
            }
        }
    }

    .navbar-toggle {
        background: $granitegrey;
        border: none;

        .icon-bar {
            background: $lightgreen;
        }

        &:focus {
            background: $granitegrey;
        }

        &:hover {
            background: $lightgreen;

            .icon-bar {
                background: $granitegrey;
            }
        }
    }

    .navbar-collapse.in.collapse {
        border: none;

        li {
            text-align: center;
        }
    }
}
