@import '../utils/variables';

.authContainer {
  padding-top: 85px;
  .authForm {
    display: table;
    height: 60vh;
    width: 70%;
    margin: 0 auto;
    .authTextField {
      margin-left: 15%;
      * {
        display: block !important;
      }
    }
  }
  .authCard {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    * {
      background: $darkblue !important;
      color: $lightgreen !important;
    }
  }
}

.authButton {
  margin-left: 15% !important;
  * {
    background: $darkblue !important;
    color: $lightgreen !important;
    &:hover {
      * {
        color: $mediumspringbud !important;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .authForm {
    width: 90% !important;
  }
  .authCard {
    width: 90% !important;
  }
}
